.panel.panel-default.bootcards-richtext
  .panel-heading.clearfix
    %h3.panel-title.pull-left
      =link_to "#{@place.name}", edit_place_path(@place)
      =" - #{t(:edit_schedule)}"
    .btn-group.pull-right
      =link_to edit_place_path(@place), class: 'btn btn-info' do
        %i.fa.fa-arrow-left
        %span=t(:back)
      =link_to place_schedule_path(@place, @schedule), class: 'btn btn-danger', data: {confirm: t(:delete_schedule_confirm)}, method: :delete do
        %i.fa.fa-trash
        %span=t(:delete)
  .list-group
    =render 'form'
