- Schedule::DAYS.keys.each_slice(2) do |days|
  .row
  - days.each do |day|
    .col-md-6
      %ul.list-group
        %li.list-group-item.disabled
          =day
          =link_to new_place_schedule_path(@schedulable) do
            %i.fa.fa-fw.fa-plus
        - !@schedules[day].nil? and @schedules[day].each do |hour|
          %li.list-group-item
            =link_to time_range(hour), edit_place_schedule_path(@schedulable, :id => hour[:id])
            =link_to edit_place_schedule_path(@schedulable, :id => hour[:id]) do
              %i.fa.fa-fw.fa-edit
            =link_to place_schedule_path(@schedulable, :id => hour[:id]), data: {confirm: 'Borrar horario?'}, method: :delete do
              %i.fa.fa-fw.fa-remove
