%h1 Mi Peluquería
%p
  Hola #{@resource.email}!
%p Alguien ha solicitado un enlace para cambiar su clave. Puedes hacerlo a través del enlace:
%p= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token)
%p Si usted no ha solicitado esto, ignore este email.
%p Su contraseña no cambiará hasta que acceda al enlace anterior y genere una nueva clave.
