.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left=@place.name
    %a.btn.btn-primary.pull-right{:href => edit_place_path(@place)}
      %i.fa.fa-pencil
      %span=t(:edit)
