.panel.panel-default.bootcards-richtext
  .panel-heading.clearfix
    %h3.panel-title.pull-left=t(:schedule)
    .btn-group.pull-right
      =link_to new_place_schedule_path(@place), class: 'btn btn-primary' do
        %i.fa.fa-plus
        %span=t(:add)
  .row
    - Schedule::DAYS.each do |day_name, day_number|
      .col-sm-4
        %table.table.table-hover
          %tr
            %th=t(day_name.downcase)
          - @schedules[day_number].try(:each) do |hour|
            %tr
              %td=link_to time_range(hour), edit_place_schedule_path(@place, :id => hour[:id])
