.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left=t(:services)
    .btn-group.pull-right
      =link_to new_place_service_path(@place), class: 'btn btn-primary' do
        %i.fa.fa-plus
        %span=t(:add)
  .row
    - Service.kinds.keys.each do |kind|
      .col-sm-4
        %table.table.table-hover
          %tr
            %th=t(kind.to_s.downcase)
          - !@services[kind].nil? and @services[kind].each do |service|
            %tr
              %td=link_to service_detail(service), edit_place_service_path(@place, service)

