%ul.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{"data-toggle" => "tab", :href => "#place", :role => "tab"} Inicio
  %li{:role => "presentation"}
    %a{"data-toggle" => "tab", :href => "#services", :role => "tab"} Servicios
  %li{:role => "presentation"}
    %a{"data-toggle" => "tab", :href => "#horarios", :role => "tab"} Horario
.tab-content
  #place.tab-pane.active{:role => "tabpanel"}
    .panel.panel-default.bootcards-richtext
      .panel-heading.clearfix
        %h3.panel-title.pull-left Información del lugar
        .btn-group.pull-right
          =link_to edit_place_path(@place), class: 'btn btn-info' do
            %i.fa.fa-arrow-left
            %span=t(:back)
          =link_to place_path(@place), class: 'btn btn-danger', data: {confirm: t(:delete_place_confirm)}, method: :delete do
            %i.fa.fa-trash
            %span=t(:delete)
      .list-group
        =render 'form'
  #services.tab-pane{:role => "tabpanel"}
    =render 'services'
  #horarios.tab-pane{:role => "tabpanel"}
    =render 'schedule'
