- content_for(:top_action) do
  =link_to 'Agregar lugar', new_place_path, class: 'button btn btn-success pull-right'

%table.table.table-striped.table-bordered
  %tr
    %th Nombre
    %th Dirección
    %th Instrucciones
    %th Móvil
    %th Fijo
    %th
  - @places.each do |place|
    %tr
      %td=link_to place.name, edit_place_path(place)
      %td= place.address
      %td= place.instructions
      %td= place.mobile_phone
      %td= place.land_line
      %td{style: 'white-space: nowrap'}
        =link_to edit_place_path(place) do
          %i.fa.fa-fw.fa-edit
        =link_to place_path(place), data: {confirm: 'Borrar lugar?'}, method: :delete do
          %i.fa.fa-fw.fa-remove
        =link_to place_schedules_path(place) do
          %i.fa.fa-fw.fa-calendar


