.row
  #list.col-sm-6.bootcards-list{"data-title" => t(:places)}
    =render 'list'
  .col-sm-6.bootcards-cards.hidden-xs
    =render 'detail' unless @place.nil?
    =render 'schedule' unless @place.nil?
    =render 'services' unless @place.nil?
